#extension-welcome-menu-item{
  background-image: url('../images/menu-icon.svg');
  background-size: contain;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0;
}

#extension-welcome-title{
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size:1.8rem;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    padding-left: 3.8rem;
    font-size: 1.8rem;
    background-size: 2.8rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('../images/menu-icon.svg');
	width:8rem;
	margin:0 auto;
}


#extension-welcome-view{
    /*background-image:url('../images/amsterdam.jpg');*/
    background-size: cover;
    padding:2rem;
    box-sizing: border-box;
    overflow: auto;
    position:absolute;
    color:white;
}

#extension-welcome-view h3{
    margin-top:6rem;
}

#extension-welcome-view a{
    color:white;
}

#extension-welcome-pages li,
#extension-welcome-pages p{
    line-height:2.7rem;
}

/*
#extension-welcome-pages ul{
    list-style-type: circle;
}
*/

#extension-welcome-pages li{
    margin-bottom:1rem;
}


#extension-welcome-content .extension-welcome-screenshot{
    margin: 2rem auto 0 auto;
    width:100%;
}

.extension-welcome-image-description{
    font-style:italic;
    margin-top:0;
    padding:1rem;
    margin-bottom:2rem;
    text-align:center;
    display:block;
    font-size: 90%;
    opacity: .8;
}


#extension-welcome-content{
    max-width: 80rem;
    margin: 0 auto;
    font-size: 1.6rem;
    box-sizing: border-box;
}

#extension-welcome-content-container{
    padding:2rem;
    text-align:center;
}


#extension-welcome-candle-logo,
#extension-welcome-content-container > img{
    margin-bottom:0;
    margin-top: 2rem;
    width:200px;
    height:124px;
    max-width:50%;
}



#extension-welcome-content-container > p{
    text-align:center;
    margin-bottom:4rem;
}

.extension-welcome-option{
    margin:2rem auto;
    width:100%;
    background-color:rgba(0,0,0,.4);
    border-radius:.5rem;
    padding:1rem 2rem;
    text-align:left;
    box-sizing:border-box;
    
    padding-right:6rem;
    background-image: url(/images/right-arrow.png);
    background-size: auto 2rem;
    background-repeat: no-repeat;
    background-position: right 2.8rem center;
    cursor:pointer;
        
}

.extension-welcome-option img{
    width:6rem;
    margin-top:2rem;
    margin-right:2rem;
}

.extension-welcome-option:first-of-type{
    display:flex;
    background-color:rgba(0,0,0,.2);
}


#extension-welcome-hide-button{
    margin-top:4rem;
}



/*  PAGES   */

#extension-welcome-pages-container{
    z-index:3;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow:auto;
    padding:1rem;
    background-color:#305068;
    display:none;
    box-sizing:border-box;
    max-width:100%;
}

#extension-welcome-pages{
    padding:2rem;
    max-width:80rem;
    margin:0 auto 50rem auto;
    
}

#extension-welcome-pages > div{
    display:none;
    padding-top:10rem;
    padding-bottom:10rem;
}

/*  back button  */

#extension-welcome-back-button {
    font-size: 1.6rem;
    border: none;
    /*background-color: #7aadd1;*/
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    padding: 0;
    background-color: #5d9bc7;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    z-index: 1000;
    cursor: default;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    background: #5d9bc7 no-repeat center/100% url(/images/back.png);
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
}






@media screen and (max-width: 640px) {
	
    #extension-welcome-discussion-button > div:first-of-type{
	    display:none;
	}
    
    #extension-welcome-pages-container{
        padding:4rem;
    }
}

@media screen and (min-width: 1025px) {

    #extension-welcome-pages{
        padding-left:4rem;
        padding-right:4em;
        background-color:rgba(0,0,0,.1);
    }

}

@media print {
    
    #extension-welcome-view,
    #extension-welcome-view p,
    #extension-welcome-view li{
        color:black;
    }
    
    #extension-welcome-pages{
        background-color:transparent!important;
    }
    
    #extension-welcome-view,
    #extension-welcome-pages-container{
        overflow:visible;
        height:auto;
        position:initial;
    }
    
    #overflow-menu,
    #transition-dialog,
    #action-required-area,
    #message-area,
    #main-menu,
    #menu-button,
    #extension-welcome-back-button,
    #extension-welcome-title,
    #update-message-area,
    #extension-welcome-content-container{
        display:none;
    }
    
    
}