<h3 id="extension-welcome-title">Welcome</h3>

<div id="extension-welcome-content">
    
    <div id="extension-welcome-waiting" style="display:none">
        <div id="extension-welcome-waiting-message">
        </div>
        <div class="extension-welcome-spinner">
            <div></div><div></div><div></div><div></div>
        </div>
    </div>
    
    <div id="extension-welcome-content-container">
        
        <img id="extension-welcome-candle-logo" src="/extensions/welcome/images/candle-logo.svg" />
        <p>The Candle smart home controller helps you protect your privacy.<br/>Here you can learn more about its features.</p>
        
        <div id="extension-welcome-discussion-button" class="extension-welcome-option" data-page="discussion">
            <div data-page="discussion">
                <img src="/extensions/welcome/images/discussion.svg" data-page="discussion"/>
            </div>
            <div data-page="discussion">
                <h2 data-page="discussion">Discuss any changes</h2>
                <p data-page="discussion">Before you make changes to your smart home, always discuss them with your family and close friends.</p>
            </div>
        </div>
        
        <div class="extension-welcome-option" data-page="starting">
            <h2 data-page="starting">Getting started</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="things">
            <h2 data-page="things">Adding new things</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="logs">
            <h2 data-page="logs">Logging data</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="rules">
            <h2 data-page="rules">Creating automations</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="features">
            <h2 data-page="features">Adding features</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="voice">
            <h2 data-page="voice">Voice control</h2>
        </div>
        
        <div class="extension-welcome-option extension-welcome-show-on-kiosk" data-page="touch">
            <h2 data-page="touch">Using a display</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="energy">
            <h2 data-page="energy">Measuring energy use</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="music">
            <h2 data-page="music">Streaming music</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="presence">
            <h2 data-page="presence">Detect who is home</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="control">
            <h2 data-page="control">Controlling your home from the internet</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="grid">
            <h2 data-page="grid">Going "off the grid"</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="privacy">
            <h2 data-page="privacy">Privacy</h2>
        </div>
        
        <div class="extension-welcome-option" data-page="license">
            <h2 data-page="license">License</h2>
        </div>
        
        <div style="text-align:right">
            <button id="extension-welcome-hide-button" class="text-button">Stop showing as first page</button>
        </div>
        
    </div>
    
    
    <div id="extension-welcome-pages-container">
        
        <div id="extension-welcome-back-button"></div>
        
        <div id="extension-welcome-pages">
            <div id="extension-welcome-page-discussion">
                <img src="/extensions/welcome/images/discussion.svg" alt="discussion icon" width="100"/>
                <h2>Discussion</h2>
                <p>Everyone in the home should have a say in when, where and how smart home technology is used.</p>
                <p>Before you purchase any device, add an automation or log, or install any new feature, always try to explore the potential risks and harms with your family members and others who visit frequently. Sit down with them and create some norms and values around how the devices should, and should not, be used.</p>
            
                <h3>Checklist</h3>
                <p>
                    <ul style="list-style: none">
                        <li><input type="checkbox"/> WHY would the device be useful in the first place?</li>
                        <li><input type="checkbox"/> SHORT TERM. What are potential short term downsides? Sensors might reveal more types of behaviour than intened. For example, keeping a log of when lights are switched means you're keeping a log of when people come and go, and how long they sleep. Air quality sensors can reveal how many people are in a room, or what they are doing.</li>
                        <li><input type="checkbox"/> LONG TERM. Could the change contribute to a culture of surveillance? Could it harm a sense of autonomy?</li>
                        <li><input type="checkbox"/> TEMPTATION. How might the existence of a device or data log lead to temptation to use its data against the other people in the household?</li>
                        <li><input type="checkbox"/> WHO is allowed to control the device?</li>
                        <li><input type="checkbox"/> WHEN is it ok? For example, are there parts of the day when data logging could be disabled? Practically, think twice before creating automations that can turn on the lights at night, as this could disturb others.</li>
                        <li><input type="checkbox"/> OWNERSHIP. Who should get a 'veto' on the device?</li>
                        <li><input type="checkbox"/> DATA LOGGING. If data from the device is logged, for how long should this be done? How much detail do you need from a sensor? Do you need minute to minute updates, or might hourly updates be sufficient? Always try to collect as little data as possible.</li>
                        <li><input type="checkbox"/> DISABLING. Make sure people feel that turning off a device's data recording features is acceptable and normal.</li>
                        <li><input type="checkbox"/> REMOVAL. Under what circumstances should the device be removed? What will be concidered crossing a line into abuse?</li>
                    </ul>
                </p>
            
                <h3>Children and teenagers</h3>
                <p>Children and teenagers need privacy to support their mental and social development.</p>
                <p>
                    <ul>
                        <li>Sensors in children's room could pick their sleeping habits. While it's great if kids go to bed on time, sometimes being naughty is healthy and fun.</li>
                        <li>Sensor could pick up when people have sex. For example, a humidity or carbon dioxide sensor can indicate increased physical activity.</li>
                    </ul>
                </p>
                <p>Generally, ask if children are behaving a certain way based on intrinsic motivation - because they want to - and not because they feel surveillance and controlled. </p>
            
                <h3>Partners</h2>
                <p>Even if technology is implemented with the best of intentions, it can turn into a form of subtle control later. For example, keeping track of when your partner is home can become a source of unnecessary miscommunication and distrust. Once the data is there, is can be too tempting to look at it, and use it as 'ammunition' in discussions.</p>
                <p>Smart homes technology has also been used in domestic violence situations. While it's impossible to avoid such abuse through technological counter measures, we're tried to implement some experimental mitigation systems in Candle. It's one of the reasons why it's possible to stop recording data for a while.</p>    
                
                <h3>Guests</h3>
                <p>It goes without saying that guests should be informed about the existence of smart home technology. It's polite to disable things like voice control when they come over if such things make them uncomfortable.</p>
                <p>You may be tempted to keep track of the working hours of house cleaners. Be aware that not disclosing such practices is against the law in most western countries.</p>
            
            </div>
        
        
        
            <div id="extension-welcome-page-starting">
                <h2>Getting started</h2>
                <p>Thank you for choosing Candle for your smart home! We hope you will enjoy it.</p>
                <h3>Basics</h3>
                <p>
                    <ul>
                        <li>If you're ever stuck somewhere, try refreshing the page. <span class="extension-welcome-show-on-kiosk">As you're using this on a touch screen: refresh the page by dragging your finger down from the top of the display.</span> Try it now!</li> 
                        <li>The big round button in the top-left of the screen (it looks like this: <img src="/images/menu.svg" style="display:inline;width:16px;height:16px" alt="menu button icon example"> ) will always either take you back a step, or open the main menu. The main menu offers a list all available features. If you ever want to get back to this tutorial, then click on "Welcome" in the main menu. Try it now! Click on the back button, then the main menu button. There find the "Welcome" option which will take you back to this tutorial.</li>
                        <li>You can use this controller from any device with a browser that is on your local network. Try visiting <strong>http://candle.local</strong> from your laptop or phone.</li>
                    </ul>
                </p>
                
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/candle_opening_main_menu.gif" alt="Opening the main menu" />
                    <span class="extension-welcome-image-description">Opening the main menu</span>
                </p>
                
                
                
                <h3>Having a look around</h3>
                <p>Now that you understand the basics, let's have some fun. Why not explore the various features in the main menu?</p>
                <p>
                    <ul>
                        <li>Your first stop might be the <a href="/things">Things</a> page, which offers an overview of connected devices. There you will see some "things" that Candle comes pre-installed with, such as the internet radio thing. If you have connected a speaker, try clicking on the center of the Internet radio thing to turn the radio on and off. Click on the icon in the top-right corner of a thing (it looks like this: <img src="/images/thing-details-link.svg" alt="property details icon" style="width:16px;height:16px"/> ) to see all its "properties".</li> 
                    </ul>
                </p>     
                
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/radio_thing.png" alt="The radio thing" />
                    <span class="extension-welcome-image-description">The detail view of the Radio "thing", showing its "properties"</span>
                </p>
                
                <p>
                    <ul>
                        <li>If you have connected a speaker, your next stop could be the Internet radio page. There you can turn on the radio too, but you have more detailed options. You could try adding more radio stations by clicking on the big plus button in the bottom right of the Internet Radio page.</li>
                        <li>Time to get serious. Open the settings page via the main menu, and then click on "Localisation" to select your country and timezone. You can even choose a different language. Note that not all features of Candle are translated, so most of them would still be in English.</li>
                    </ul>
                </p>
                
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/candle_set_localisation.gif" alt="Set your country and timezone" />
                    <span class="extension-welcome-image-description">Set your country and timezone</span>
                </p>
                
                <p>The other pages in this tutorial offer more in-depth details. The "Adding new things" part of this tutorial is the next logical step.</p>
            </div>
        
        
            <div id="extension-welcome-page-things">
                <h2>Adding new things</h2>
                <p>This page describes how you can get and how you can pair devices.</p>
                
                <h3>Getting new devices</h3>
                <p>There are a number of ways you can add new 'things'.</p>
                <p>
                    <ul>
                        <li>Purchase new devices. These are 'real' things. We recommend you purchase Zigbee devices. A list of recommended devices can be found on the <a href="https:/www.candlesmarthome.com" target="_blank">Candle website</a>. Going with the recommended devices will give you the best experience, as they have been tested to work well.</li>
                        <li>Install new addons that create 'virtual things'. irtual things are quite common. For example, the Internet Radio thing does not reflect a real physical radio device.</li>    
                    </ul>
                </p>
                
                <h3>Pairing new devices</h3>
                <p><img src="/images/add.svg" style="float:left; margin:1rem; width:3rem"/>Getting the things to show up in the things overview starts by going to the thing overview and clicking on the big plus button in the bottom right. This will show you the "things inbox", and put Candle in pairing mode.</p>
                <p>Next, get your new device into pairing mode too. Your new device's manual will describe how to initiate pairing. Some common methods:</p>
                <p>
                    <ul>
                        <li>A lot of Zigbee devices require you to press and hold a pairing button for about 5 to 10 seconds. Typically a light will then turn on or start to blink.</li>
                        <li>Some devices, such as those by IKEA, may require you to press the pairing button a few times in a row.</li>
                        <li>Some devices don't have a pairing button. In the case of IKEA light bulbs you'll have to turn the light off and on again in quick succession 6 times.</li>
                    </ul>
                </p>
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/things_inbox.png" alt="An example of the things inbox" />
                    <span class="extension-welcome-image-description">An example of the things inbox</span>
                </p>
                <p>Once the device shows up on the inbox page you can give it a name. If you use voice control, then make sure the name is easy to pronounce.</p>
                <p>Things have "properties". For example, a lightbulb has a "state" (on or off) and a "brightness". Usually one of the properties can be highlighted on the things overview. You can select which one you prefer using the dropdown.</p>
                <p>If you select "custom property", then you can upload a custom icon for your thing. Have a look at www.publicdomainvectors.com if you want to download some icons.</p>
                
                <p><img src="/images/overflow.svg" style="float:left; margin:1rem; width:3rem"/>You can always change all this later by going to a thing's page, and then clicking on the edit button in the bottom right.</p>
                
                <h3>Groups</h3>
                <p>You may have also noticed that the things inbox allows you create new "groups". Groups become very useful once you have multiple devices. Try making a group called "Living room", and then go back to the things overview page. You'll notice the group name there. Try dragging on of your things into this new group.</p>
                <p class="extension-welcome-show-on-kiosk">Unfortunately dragging your things into groups does not work on touch screens at the moment. Please use a laptop for this.</p>
                <p><img src="/extensions/welcome/images/drag_into_group.gif" alt="Dragging an icon into a group" style="margin:1rem auto;max-width:50%;display:inherit;" /></p>
                <span class="extension-welcome-image-description">Dragging a thing into a group</span>
                <p>&nbsp;</p>
                <h3>Keyboard shortcuts</h3>
                <p>At some point you may have a lot of things, at which time the search functionality becomes more useful. On the things overview just start typing (part of) the name of a thing. Press escape at any time to remove this filter. If your search gets to the point where there is only one thing shown, then you can press enter to open the thing details page. Once there you can press backspace to go back to the things overview.</p>
            </div>
        
        
            <div id="extension-welcome-page-logs">
                <h2>Data logs</h2>
                <p>Once you have a device, you can create a data log for it.</p>
                
                <h3>Privacy precautions</h3>
                <p>Data logs are powerful, so let's talk about precautions first. Having these logs can lead to unexpected forms of abuse. Avoid this temptation by making sure there isn't much data to abuse in the first place.</p>
                <p>
                    <ul>
                        <li>Always make sure you only log data if everyone is OK with logging the data, and discuss for how long the data should be kept.</li>
                        <li>If you are going to log data, always make sure you also have the Privacy Manager addon installed so that data can easily be deleted or modified.</li>
                        <li>For some Zigbee devices you may be able to lower the rate at which data is collected using the "data blur" functionality.</li>
                        <li>Create automation rules that limit data collection to when its needed. For example, only enable home security sensors when nobody is home (based on data from the Network Presence Detection addon).</li>  
                    </ul>
                </p>
                
                <h3>Adding a new log</h3>
                <p><img src="/images/add.svg" style="float:left; margin:1rem; width:3rem"/>Visit the logs page, and press the button in the bottom right to start adding a new log. </p>
                <p>Select the device you want to record data from, and then the property you want to record. Also select how long data may be stored. Choose the smallest duration necessary for your purposes.</p>
                
                <h3>Deleting data</h3>
                <p><img src="/images/overflow.svg" style="float:left; margin:1rem; width:3rem"/>You can delete a log by clicking on its name on the logs overview page. This will take you to a page that shows only that single log. There you can click on the edit button, and delete it.</p>
                <p>You can also use the Privacy Manager to delete data. It offers a higher level of control, even allowing you to delete individual data points, or all the data before or after a certain moment in time.</p>
            </div>


            <div id="extension-welcome-page-rules">
                <h2>Creating automations</h2>
                <p>Once you have a number of things, you can start to make them respond to certain events. For example, you could turn on the lights in the morning, and turn them off at night automatically.</p>
                
                <h3>Rules</h3>
                <p>Rules offer a lot of possiblities. You could make things react to button presses, the time of day, the value of certain things, and more.</p>
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/creating_a_rule.gif" alt="Creating a rule animation" />
                    <span class="extension-welcome-image-description">Creating a rule to turn on a light at a certain time</span>
                </p>
                <p>When creating a new rule, you can place the 'inputs' on the left, and the things want to change in response on the right. For example, you could turn on a light at 10:50.</p>
                <p>Once a rule is valid, a sentence describing it will be shown at the top of the screen. If you look at it closely, then you might spot a little dropdown option inside of it:</p>
                <p><span class="triangle-select-container">
                    <select class="triangle-select rule-effect-select" style="width: 1.8rem;">
                        <option selected="">If</option>
                        <option>While</option>
                    </select>
                </span></p>
                <p>Selecting the "if" option makes it a momentary rule. This means it triggers once when the conditions are right, and then goes to sleep again. For example, a window contact sensor could turn of the heater as soon as someone opens the window. But while the window is open, you could simply turn on the heater anyway.</p>
                <p>If you select the "while" option, the rule will check every second. In the example of the window and the heater, this means you cannot turn the heater on while the window is open, because every second the rule will try to switch off the heater again. </p>
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/rule_and_or.gif" alt="Creating a more complex rule animation" />
                    <span class="extension-welcome-image-description">If it's 10:50 AND/OR the laptop is on the network, then turn on the light.</span>
                </p>
                <p>If you add multiple 'inputs', then you gain another choice:</p>
                
                <p><span class="triangle-select-container">
                    <select class="triangle-select rule-trigger-select">
                        <option>and</option>
                        <option selected="">or</option>
                    </select>
                </span></p>
                <p> Do all the triggers on the left have to be true, or only one of them? For example, you could make the heater turn on when the temperature dips below 18 degrees, but only if at that moment your phone is present on your network. This way the heater only turns on if the temperature drops AND you're home.</p>
                
                <h3>Followers</h3>
                <p>You can make the property of one device change in relation to another. For example, if the brightness of one light changes, you could make the brightness of a second light follow that brightness value automatically.</p>
                <p>It's also possible to invert this relation: while one light grows brighter, another could grow dimmer. You can also play with these levels. For example, 0 to 50% of volume of the radio could translate to values between 0 and 100 for a light. If the radio volume is set above 50%, the light will stay at 100%, since it can't go any higher.</p>
                
                <H3>Some recommendations:</h3>
                <p>
                    <ul>
                        <li>Use an IKEA Symfonisk sound controller with the Internet radio addon. Using Rules, let a press of the button turn the radio on and off. Using Followers, let the rotation of the button change the volume of the radio.</li>
                        <li>Use an IKEA push button with the Privacy Manager addon. Let a button press delete the last 2 hours from your data logs. Then place the button in a place where every member of the household can press it without drawing attention to themselves.</li>
                        <li>Using the Network Presence Detection addon, automatically turn of the heating if none of the phones or laptops are on your wifi network. Similarly, disable voice control when nobody is home to avoid abuse by criminals shouting through the letterbox.</li>
                        <li>Switch off electric heaters if someone opens a window or outside door.</li>
                    </ul>
                </p>
                <h3>Keyboard shortcuts</h3>
                <p>This becomes more useful once you have a lot of things. When you're creating a rule you can use your keyboard to filter which things are available. For example, press "a" to see all things whose names start with "a". Press escape to remove the filter and see all your things again.</p>
            </div>
        
        
            <div id="extension-welcome-page-voice">
                <h2>Voice control</h2>
                <p>Candle doesn't come with voice control pre-installed, but it's easy to install from the Candle store.</p>
                    
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/chatting_with_voco.gif" alt="Setting a timer through Voco chat" />
                    <span class="extension-welcome-image-description">You don't need a microphone or speaker to talk to Voco</span>
                </p>
                    
                <p>If you want to use voice control will need three things:</p>
                <p>
                    <ul>
                        <li>The Voco addon</li>
                        <li>A speaker</li>
                        <li>A USB microphone</li>
                        
                    </ul>
                </p>
                
                <p>Most USB microphones, even those in webcams, should work. The great thing about using a USB microphone is that you can unplug it at any time. While Voco never sends anything to the internet, we wanted to offer the feeling of security that comes with being able to be absolute sure that there is no microphone. To be clear: the Raspberry Pi (which the controller runs on) does not have a built-in microphone.</p>
                
                <h3>Tips</h3>
                <p>
                    <ul>
                        <li>Don't place the microphone too close to the speakers, otherwise Voco might have trouble picking up your voice while music is playing.</li>
                        <li>You can text chat with Voco from your mobile phone. This is a great way to control things while you're away from home.</li>
                        <li>Use Voco's settings to change the voice to your liking.</li>
                    </ul>
                </p>
                
                <h3>Development</h3>
                <p>We developed Voco with support from the (EU funded) Sherpa project (www.project-sherpa.eu), and the code is mostly open source (www.github.com/createcandle/voco). Mostly, because Voco in turn relies on Snips, a piece of software which handles the actual voice recognition, which is not fully open source. This software does not connect to the internet either.</p>
            </div>
        
            <div id="extension-welcome-page-features">
                <h2>Adding features</h2>
                <p>You can extend the possibilities of this controller by installing "addons" from the Candle Store. It's a bit like the apps on smart phones.</p>
                
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/install_addon.gif" alt="Installing an addon from the store" />
                    <span class="extension-welcome-image-description">Installing an addon from the store</span>
                </p>
                
                <p>The Candle Store tries to inform you of what 'addons' are available, and how those addons may affect privacy and security. It provides the following pieces of information:</p>
                
                <p>
                    <ul>
                        <li>Our opinion. Where possible we try to clarify what addons do. This opinion is not created by the developer of the addon, but by the Candle team.</li>
                        <li>A privacy rating. This rating is created by Candle. The ideal is for an addon to have 5 closed eyes, which indicates that the addon only stores data locally, and follows 'privacy by design' principles.</li>
                    </ul>
                </p>
                
                <p>
                    <ul>
                        <li>The community can also share their review of the addon. These are shown as the star rating. More stars mean the addons is liked and works well. If you create an account, then you can also share your opinion.</li>
                        <li>The more book icons an addon has, the more it will require technical know-how to set up.</li>
                        
                    </ul>
                </p>
                
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/addon_review.png" alt="User reviews" />
                    <span class="extension-welcome-image-description">These user reviews suggest that the addon is easy to use and respects privacy</span>
                </p>
                
                <h3>Limitations</h3>
                <p>Candle is built 'on top of' the Webthings Gateway, an open source project originally developed by Mozilla, the makers of Firefox. The addons you find in the store are created by volunteers, and are open source. That makes them wonderfully transparent. It also means they may contain bugs, or create instabilities. They may also send data to cloud services (simply because the feature it offers requires it).</p>
                <p>
                    <ul>
                        <li>We cannot guarantee that non-Candle addons will work well with the addons we developed.</li>
                        <li>While Candle addons have a privacy policy on the Candle website, community addons currently do not come with privacy policies. If an addons mentions that it connects to a third party service, please look up their privacy policy before installing the addon.</li>
                        <li>Be aware that even if an addon has good reviews, any update could change how the addon functions.</li>
                    </ul>
                </p>
                <p>Candle is not affiliated with the Webthings project in any official capacity, it's a separate project.</p>
            </div>
            
            
            <div id="extension-welcome-page-touch">
                <h2>Using a display</h2>
                <p>So you connected a (touch) screen. Very nice. What you're seeing is essentially the Chromium browser (the stripped down open source version of Chrome) running in "kiosk mode".</p>
                <p>There are some things you might find interesing:</p>
                <p>
                    <ul>
                        <li>Drag your finger down from the top of the screen to the middle of the screen to refresh the page.</li>
                        <li>Dragging your finger from the left of the screen to the middle is like pressing the back button on your browser.</li>
                        <li>Kiosk mode comes with a virtual keyboard. It should pop-up automatically when you click on an input field. If you don't need this keyboard you can disable it in the Candle theme settings.</li>
                        <li>You cannot open links to other websites inside this "kiosk mode".</li>
                        <li>You cannot open files from the hard drive inside this "kiosk mode". If you want to upload photos to the photo frame, you will have to do this from another device, such as your phone or computer.</li>
                        <li>Some addons might also behave slightly differently. For example, the page you're reading right now is only visible if you're using an attached display.</li>
                    </ul>
                </p>
                
                <h3>Recommended addons</h3>
                <p>You may enjoy the Display Toggle addon. It will allow you to turn the display on and off easily. With it you can also create rules. For example, you could turn off the display at night. Or when nobody is home, with the Network Presence Detection addon.</p>
                <p>You will probably also want to enable the screensaver functionality in the Photo Frame addon.</p>
            </div>
            
            
            <div id="extension-welcome-page-energy">
                <h2>Measuring energy use</h2>
                <p>There are a number of ways to keep track of how much energy your devices use.</p>
                <p>
                    <ul>
                        <li>Per device</li>
                        <li>For the entire home</li>
                    </ul>
                </p>
                
                <h3>Per device</h3>
                <p>Probably the easiest way to find out how much electricity individual devices are using is to plug them into power sockets that can also measure energy use.</p>
                <p>If you have some of these devices connected, then have a look at the Energy Use addon, which you can find in the Candle Store. It will allow you to see how much these devices are using in total, on a per day and per week basis.</p>
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/candle-energy-use.png" alt="An example of the Energy Use addon" />
                    <span class="extension-welcome-image-description">An example of the Energy Use addon</span>
                </p>
                
                <h3>For the entire home</h3>
                <p>If your home has a smart meter, then Candle can connect to it. Have a look at the "P1 adapter" in the Candle Store, for example. As the name implies, it allows you to connect with smart meters that follow the P1 standard. You will likely need to connect your Candle to your smart meter using a special USB-to-P1-port cable for this. </p>
                
                <h3>Tesla</h3>
                <p>There are other options available in the Candle Store, created by the community. For example, there is an addon to communicate with Tesla chargers.</p>
                
            </div>
            
            
            
            <div id="extension-welcome-page-music">
                <h2>Streaming music</h2>
                <p>Candle comes with a lot of options for music streaming. It can act as both a music receiver or a music transmitter.</p>
                
                <h3>Airplay receiver</h3>
                <p>If you own an iPhone or Mac, then you may be familiar with streaming music though Airplay. By installing the "Airport" addon from the Candle Store you will be able to stream music from your phone, tablet or laptop to the Candle's speakers.</p>
                <p>
                    <ul>
                        <li>Install the Airport addon.</li>
                        <li>Make sure your phone and the Candle controller are on the same local network.</li>
                        <li>On your iphone select the "stream over airplay" option in your prefered music player</li>
                        <li>On your Mac, click on the sound icon in the top-right of the main menu bar, and select "Candle audio" as the output.
                    </ul>
                </p>
                
                <h3>Connecting a Bluetooth speaker</h3>
                <p>The Bluetooth addon allow you to pair with and connect to bluetooth speakers.</p>
                <p>
                    <ul>
                        <li>Put your Bluetooth speaker into pairing mode. Typically this is done by pressing a button with a Bluetooth icon for a few seconds until a light turns on or starts blinking.</li>
                        <li>On the Candle Controller, open the Bluetooth page and do a scan by clicking on the (+) icon in the bottom right.</li>
                        <li>If you see your speaker in the list of detected devices, click on the link icon to start the pairing process.</li>
                        <li>If pairing is succesful, then click on the toggle switch icon to also connect to the speaker.</li>
                        <li>Finally, select the bluetooth speaker as audio output wherever possible. For example, open the Radio thing and select "Bluetooth speaker" as the prefered audio output. Voco (voice control) will also require you to select the Bluetooth speaker as the audio output in the same way.</li>
                    </ul>
                </p>
                
                <h3>Bluetooth receiver</h3>
                <p>Candle can act as a Bluetooth receiver too. This process is a bit more complex, and in reverse, where Candle first tries to connect to your audio source device (e.g. your laptop or phone). The trick is to get both devices to trust each other.</p>
                <p>
                    <ul>
                        <li>Put your music source device (laptop or phone) into bluetooth pairing mode, and make sure it can be detected by other devices.</li>
                        <li>On the Candle Controller, open the Bluetooth page and do a scan by clicking on the (+) icon in the bottom right.</li>
                        <li>If you see your audio source device in the list of detected devices, click on the link icon to start the pairing process.</li>
                        <li>If pairing is succesful, then click on the toggle switch icon to also connect to the audio source device.</li>
                        <li>Now you can do a Bluetooth scan on your audio source device, and pair with and connect to Candle.</li>
                    </ul>
                </p>
                
                <h3>Sonos speaker</h3>
                <p>Candle can control Sonos speakers. The trickiest part is that you will need to find out the IP address of your Sonos speaker. One way of doing this is to install the Network Presence Detection addon first. It can give show you the IP address of each device on your local network. Another way is to find out its IP address through the interface of your router.</p>
                <p>
                    <ul>
                        <li>Install the Sonos Addon from the Candle Store.</li>
                        <li>Once installed, navigate to the addon's settings page. There you can add the IP address of your speaker. Don't forget to click 'Save'.</li>
                        <li>A new thing will be available in your things inbox. Go to the things overview page and click on the (+) to accept it into your system.</li>
                        <li>You now have a new Sonos thing.</li>
                    </ul>
                </p>
                
            </div>
            
            
            
            <div id="extension-welcome-page-presence">
                <h2>Detect who is home</h2>
                <p>A popular feature of smart homes is to create automations that depend on who is home. For example, you could turn off all the lights and lower the thermostat automatically if nobody is home.</p>
                
                <h3>Network presence detection</h3>
                <p>The most common way to achieve this is to detect when people's phones are connected to the local wifi network. The Network Presence Detection addon does exactly this. It detects all devices on the network, and turns each one into a thing. It does a new scan every minute.</p>
                <p>
                    <ul>
                        <li>Install the Network Presence Detection addon from the Candle Store.</li>
                        <li>Once installed, wait a minute for the addon to do its first scan</li>
                        <li>Navigate to the Things overview page and click on the (+) button. There you should see a new thing for each device that was spotted on the local network. The name of each thing that was found this way will start with "Presence".</li>
                        <li>Save each device that you want to detect the presence of.</li>
                    </ul>
                </p>
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/network_presence_detection.png" alt="An example of a Network Presence Detection thing" />
                    <span class="extension-welcome-image-description">An example of a Network Presence Detection thing</span>
                </p>
                <p>This addon comes with some privacy enhancing features.</p>
                <p>Firstly, you can disable detecting a specific device for a while by disabling data collection. This is useful in automations. You could, for example, limit presence detection of a phone to the evenings only.</p>
                <p>Secondly, you can click on the "Data mute" button. Each time that button is pressed, the device will be ignored for an additional hour. So if you click this button 6 times in a row, you can stop presence detection for that device for the next 6 hours.</p>
                
            </div>
            
            
            
            <div id="extension-welcome-page-control">
                <h2>Controlling your home from the internet</h2>
                <p>Candle is designed to work fine without an internet connection. However, in some cases you may actually want Candle to connect to the internet. For example, you may want to control or check up on your house when you're away from home.</p>
                <p>There are many addons in the Candle Store that will allow you to connect your home to all kinds of networks. But there are two we recommend because we built them ourselves. These addons are privacy friendly and easy to use:</p>
                
                <h3>Voco</h3>
                <p>This addon not only offers 100% local voice control, but you can also connect it to a messaging network called Matrix.</p>
                <p><img src="/extensions/welcome/images/candle_voco_chat.png" alt="Connecting to the Matrix network" style="display:block;width:80%;margin:0 auto"/></p>
                <p>Matrix is very similar to messaging apps like Whatsapp and Signal (it even uses the same encryption standard), but it's even more privacy friendly. If you enable this feature, then you can literally chat with your home as if you were in a Whatsapp or Signal conversation.</p>
                <p><img src="/extensions/welcome/images/candle_voco_chat2.png" alt="Chatting using Matrix" style="display:block;width:50%;margin:2rem auto"/></p>
                <p>The cool thing about Matrix is that it's a distributed ("federated") messaging network. This means it operates much like email, where there are multiple servers that exchange messages. You're not tied to one company, as you are with apps like Whatsapp. Anyone can run one of these servers and become part of the network.</p>
                <p>The small downside is that this means your conversations with Voco will be stored on a third party server. We only use servers we trust - more details about this can be found in the Voco addon itself. If Candle becomes popular enough then we will setup our own Matrix server.</p>
                <p>The Matrix software is open source, and is created by a non-profit foundation. Learn more at matrix.org.</p>
                
                <h3>Web interface</h3>
                <p>If you prefer a more traditional way of controlling your devices while on the go, then this addon might be for you. It offers an overview of your devices which you can access by visiting www.candlesmarthome.com/web .</p>
                
                <p><img src="/extensions/welcome/images/candle_webinterface_web_ui.png" alt="The Webinterface... interface.. on the web." style="display:block;width:80%;margin:1rem auto"/></p>
                
                <p>It comes with a number of privacy protecting features:</p>
                <p>
                    <ol>
                        <li>You can limit when your devices may be controlled. You can literally flip a switch to enable or disable outside access.</li>
                        <li>You can limit which devices may be controlled. You select these devices from a list.</li>
                        <li>The messages between the web interface and your home are encrypted, so we don't know what anything about your device.</li>
                        <li>The Candle webserver only passes your messages back and forth between you and your home, it only retains them for a few seconds.</li>
                        <li>You do need an account on the Candle webserver, but this is an anonymous account, so we don't know who is connecting.</li>
                        <li>Even when outside access is switched on, message about the state of your devices are only sent to the Candle server while you have candlesmarthome.com/web open in your browser. If either side drops out, the Candle server deletes all the messages that were in transit.</li>
                        <li>It's relatively secure. Your home only ever makes outgoing connections to the Candle server, so there is no risk of hackers gaining access through an extra open port.</p>
                    </ol>
                </p>
                <p>The downside of Webinterface is that it's rather slow. After you visit candlesmarthome.com/web it can take up to 15 seconds before your home notices that someone is out there asking to be sent. Setting devices to new states will also take a few seconds.</p>
            </div>
            
            
            <div id="extension-welcome-page-grid">
                <h2>Going off the grid</h2>
                <p>We like the idea of using Candle without any internet connection. Practically, this means Candle works great on a boat or camper.</p>
                <p>It's also a statement: without an internet connection you can still have most smart home funtionality. The only way to guarantee data privacy is to never send data to the internet in the first place. As a welcome side-effect, it also makes it more difficult for hackers to attack the controller.</p>
                <p></p>
                <p>If you'd like to try this, you'll currently need to do three things:</p>
                <p>
                    <ol>
                        <li>Setup Candle to your liking while it still has internet access. Download updates, and install any addons you want to use.</li>
                        <li>You can now switch Candle over to a second router that doesn't have internet access. Our suggestion is to buy a small (wifi) router that doesn't use a lot of power. We like the ones from the "gl.inet" company, which are tiny and can be powered via USB.</li>
                        <li>Have a hardware clock module installed.</li>
                    </ol>
                </p>
                
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/rtc_module.png" alt="Real Time clock module" />
                    <span class="extension-welcome-image-description">Use this DS3231 Real Time Clock (RTC) module</span>
                </p>
                
                <p>In the future it might become possible to eliminate step 2.</p>
            </div>
            
            
            <div id="extension-welcome-page-privacy">
                <h2>Privacy</h2>
                <p>Candle tries to protect you from two forms of abuse:</p>
                <p>
                    <ul>
                        <li>Corporate surveillance</li>
                        <li>Coveillance</li>
                    </ul>
                </p>
                
                <h3>Corporate surveillance</h3>
                <p>Your smart home can reveal more about your life than you may realise. For example, if you go to the toilet at night more than most people, that could be a subtle indication of heart failure. The only way to be sure that your data is not used to create all kinds of "educated guesses" about you is to make sure it never leaves your home in the first place. That's why many of Candle's features are designed to keep your data away from cloud servers, without sacrificing convenience.</p>
                
                
                <h3>Coveillance</h3>
                <p>There are increasing reports that people living in smart homes are tempted to use the system to spy on each other. For example, partners may check each others coming and going. They may check the behaviour of their children, or the working hours of professionals in their service. This can create a culture of surveillance within the home, which can be detrimental to trust and human flourishing. While more technology is clearly not the answer to "tech abuse", Candle explores how these issues might be mitigated.</p>
                <p>Some examples:</p>
                <p>
                    <ul>
                        <li>We try to add a 'data collection' toggle to devices managed by addons. This allows you to stop collecting/receiving data from devices whenever you want, and even create schedules and rules for this.</li>
                        <li>The network presence detection addon has a data-mute option for each device. This does the same thing as disabling data collection, but it comes with a timer. Every time someone clicks it, the period of time that incoming data is ignored is extended by one hour. The idea is that anyone can click this button at any time.</li>
                        <li>The privacy manager addon offers many ways in which data can be deleted. This ranges from "delete all data collected in the last 8 hours for every device" to "change one datapoint for a specific device". We hope this adds some uncertainty to how reliable the logs are, so that they are less likely to be used as 'evidence' in domestic disagreements.</li>
                    </ul>
                </p>
                
                <p>
                    <img class="extension-welcome-screenshot" src="/extensions/welcome/images/bathroom_cleaning.jpg" alt="Cleaning the bathroom" />
                    <span class="extension-welcome-image-description">Keeping track of working hours without people's awareness is a common form of tech abuse</span>
                </p>
                
                <h3>Privacy policy</h3>
                <p>While Candle tries to protect your data as much as possible, please take the time to read our privacy policy. The Candle privacy policy can be found on our website: <a href="https://www.candlesmarthome.com" target="_blank">www.candlesmarthome.com</a></p>
            </div>
            
            <div id="extension-welcome-page-license">
                <h2>License</h2>
                <p>Candle is built on top of the Webthings Gateway, an open source smart home controller that was originally developed by Mozilla. You can learn more about this project at www.webthings.io. The Webthings Gateway source code is available under the Mozilla Public License (www.mozilla.org).</p>
                <p>More details about the many open source projects Candle builds on can be found on our <a href="https://www.candlesmarthome.com" target="_blank">website</a>. For source code, have a look at our Github page.</p>
            </div>
            
            
        </div>
        
    </div>
     
</div>





