<h3 id="extension-welcome-title">Welcome</h3>

<div id="extension-welcome-content">
    
    <div id="extension-welcome-waiting" style="display:none">
        <div id="extension-welcome-waiting-message">
        </div>
        <div class="extension-welcome-spinner">
            <div></div><div></div><div></div><div></div>
        </div>
    </div>
    
    <div id="extension-welcome-content-container">
        
        <img id="extension-welcome-candle-logo" src="/extensions/welcome/images/candle-logo.svg" />
        <p>This smart home controller comes with tons of features, many designed to protect your privacy.</p>
        
        <div class="extension-welcome-option">
            <div>
                <img src="/extensions/welcome/images/discussion.svg" />
            </div>
            <div>
                <h2>Discuss any changes</h2>
                <p>Before you make changes to your smart home, always discuss them with your family and close friends.</p>
            </div>
        </div>
        
        <div class="extension-welcome-option">
            <h2>Connecting new things</h2>
        </div>
        
        <div class="extension-welcome-option">
            <h2>Logging data</h2>
        </div>
        
        <div class="extension-welcome-option">
            <h2>Creating automations</h2>
        </div>
        
        <div class="extension-welcome-option">
            <h2>Adding features</h2>
        </div>
        
        <div style="text-align:right">
            <button id="extension-welcome-hide-button" class="text-button">Do not show as first page</button>
        </div>
        
    </div>
     
</div>





